h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 1000;
    margin: 50px;
    color: rgb(153, 153, 166);
}

.search-bar {
    margin-bottom: 20px;
}

table {
    table-layout: fixed;
}

tr.city-data:hover td {
    background-color: rgb(217, 217, 243) !important;
    transition: 200ms;
}

tr.city-data td {
    transition: 200ms;
}

tr.city-header td{
    position: sticky;
    top: 0;
    background-color: rgb(222, 222, 222);
    font-weight: 600;
}

.btn {
    margin: 2px;
}

.error {
    text-align: center;
    left: 50%;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(246, 161, 161);
}