<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Report</title>
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
    <div>
        <table>
            <th>City</th>
            <th>State</th>
            <tr th:each="city : ${cities}">
                <td><a th:text="${city.city}" th:href="@{'/cities/' + ${city.id}}"/></td>
                <td th:text="${city.stateName}">State</td>
            </tr>
        </table>
    </div>



</body>
</html>